body, ul {
  margin: 0;
  padding: 0;
  color: black;
}

.navbar-item-block:hover {
  border-radius: 10px;
  background-color: #f16136;
  color: white !important;
}

.identity-management-solutions-home-hero-banner {
  min-width: 100%;
  height: 85vh;
  display: flex;
  background-color: #ec9775;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  position: relative; /* corrected */
}

.identity-management-hero-banner-text {
  color: white !important;
}

.logo-slider {
  text-align: center;
}


.verification-box-border {
  border-left: 3px solid #ec9775;
  border-right: 3px solid #ec9775;
}

/* Home vertical slider */
.item {
  font-size: 32px;
  text-align: center;
}

.card-side-image {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  position: relative;
}

.about-us-home-hero-banner {
  min-width: 100%;
  height:auto;
  display: flex;
  background-color: #75ecce;
 align-items: center; 
  justify-content: center; 
  padding: 50px;

}